# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.root'
'name': 'ROOT/C++'
'fileTypes': ['C','cxx','cpp','h']
'limitLineLength': false
'patterns': [
  {
    'match': '^\\s*@@.*$'
    'name': 'comment'
  }
]
